/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-skadi-sponsors-partners {
	.wp-block-columns {
		align-items: center;
	}
	img {
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;

		&:hover {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
		}
	}

	.flex {
		display: flex;
		flex-direction: row;
		align-items: center;

		&.image-right {
			flex-direction: row-reverse;
		}
	}

	h2 {
		margin-top: 0;
	}
}
