/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-text.flex {
	h3 {
		text-transform: uppercase;
		span:first-of-type {
			margin-right: 5px;
		}
		span.nomargin {
			margin-right: 0px;
		}
	}

	.order-left {
		text-align: left;

		h3 {
			display: flex;
			flex-direction: row;
			align-items: baseline;
		}
	}
	.order-right {
		text-align: right;
		h3 {
			display: flex;
			flex-direction: row-reverse;
			align-items: baseline;
		}
	}

	.text-subtitle {
		font-family: "gothambook";
		font-size: 18px;
	}
	.text-block {
		padding: 0 15px;
		text-align: justify;
	}
}
