/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-skadi-divider {
	#divider {
		color: #1e3b70;
		background: #1e3b70;
		text-align: center;
		height: 2px;
		width: 100%;
		margin: 15px auto;
		border: 0px;
	}
}
